@import url('https://fonts.googleapis.com/css?family=Open+Sans');

/*GENERAL STYLES*/
* {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
    box-sizing: border-box;
}

input, select, textarea {
    border: 1px solid rgba(0,0,0,0.1);
    border-radius: 2px;
    padding: 10px;
}

input[type=submit], button, a.back-to-list-button {
    padding: 10px;
    border: none;
    color: white;
    font-weight: bold;
    text-align: center;
    background-color: #2B7A78;
    cursor: pointer;
}

a.back-to-list-button {
    text-decoration: none;
    background-color: #17252A;
}

a.back-to-list-button:hover {
    text-decoration: none;
}

input[type=submit]:hover, button:hover {
    background-color: #22615F;
}

input[type=checkbox] {
    -webkit-appearance: none;
    background-color: #fafafa;
    border: 1px solid #cacece;
    box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px -15px 10px -12px rgba(0,0,0,0.05);
    padding: 6px;
    margin-bottom: -1px;
    margin-right: 5px;
    border-radius: 3px;
    display: inline-block;
    position: relative;
}

input[type=checkbox]:checked {
    background-color: #e9ecee;
    border: 1px solid #adb8c0;
    box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px -15px 10px -12px rgba(0,0,0,0.05), inset 15px 10px -12px rgba(255,255,255,0.1);
    color: #99a1a7;
}

input[type=checkbox]:checked:after {
    content: '\2714';
    font-size: 10px;
    position: absolute;
    top: -1px;
    left: 1.5px;
    color: #99a1a7;
}

input[type=checkbox]:active, input[type=checkbox]:checked:active {
    box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px 1px 3px rgba(0,0,0,0.1);
}

textarea {
    resize: none;
}

a, span.delete-link {
    text-decoration: none;
    color: #3AAFA9;
    cursor: pointer
}

a:hover, span.delete-link:hover {
    text-decoration: underline;
}

svg.svg-inline--fa {
    margin-right: 10px;
}

.wrapper {
    overflow-y: hidden;
}

.container-main {
    display: flex;
    flex-wrap: wrap;
    min-height: 100vh;
    padding: 50px 80px;
}

.container-sub {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
}

.container-half {
    width: 40vw;
}

.form-error-msg {
    color: #EE1414;
}

/*FLASH STYLES*/
.message {
    display: flex;
    width: 100%;
    margin-bottom: 15px;
    padding: 20px;
    font-size: 18px;
}

.message.success {
    color: #3AAFA9;
    background-color: #DEF2F1;
}

.message.error {
    color: #AF3A3A;
    background-color: #F2DEDE;
}

/*MODAL STYLES*/
.popup{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    position: fixed;
    height: 0;
    width: 0;
    opacity: 0;
    background-color: white;
    box-shadow: 0 5px 10px 5px rgba(0,0,0,0.25);
    top: 50%;
    left: 50%;
    border-radius: 4px;
    padding: 40px;
    margin-top: 0px;
    margin-left: 0px;
    transition: all 0.3s cubic-bezier(0.33, 0.99, 0.76, 1.17);
    z-index: 10;
}

.popup *{
    visibility: hidden;
}

.popup.show * {
    animation-name: delayed-display;
    animation-delay: 0.3s;
    animation-duration: 0s;
    animation-fill-mode: forwards;
}

@keyframes delayed-display {
    0%{
        visibility: hidden;
    }
    100%{
        visibility: visible;
    }
}

.popup.show{
    height: 280px;
    width: 380px;
    margin-top: -140px;
    margin-left: -160px;
    opacity: 1;
}

.popup .modal-header {
    align-self: flex-start;
    color: #333333;
    margin-bottom: 30px;
}

.popup textarea {
    width: 300px;
}

.popup input[type=submit] {
    margin-top: 30px;
    align-self: center;
}

.popup .modal-close-button {
    position: absolute;
    top: 10px;
    right: 5px;
    color: #AAAAAA;
    cursor: pointer;
}

.popup .modal-close-button:hover {
    color: #666666;
}

.blocker{
    position: fixed;
    background-color: rgba(0,0,0,0.5);
    top: 0;
    height: 100vh;
    width: 100%;
    opacity: 0;
    transition: all 0.3s cubic-bezier(0.33, 0.99, 0.76, 1.17);
    z-index: -1;
}

.blocker.show {
    opacity: 1;
    z-index: 9;
}

/*LOGIN STYLES*/

.container-login {
    max-height: 100vh;
    justify-content: space-between;
    background-color: #1E5453;
    background-blend-mode: overlay;
    background-image: url('../img/bg-home.jpg');
    background-size: cover;
}


.login-headers {
    margin-bottom: 20px;
}

.login-headers.animate {
    animation-name: slide-in;
    animation-duration: 0.6s;
    animation-fill-mode: forwards;
    animation-timing-function: ease-in-out;
}

@keyframes slide-in {
    0%{
        transform: translateX(-50px);
        opacity: 0;
    }
    100%{
        transform: translateX(0px);
        opacity: 1;
    }
}

.login-description {
    opacity: 0;
}

.login-description.animate {
    animation-name: slide-in;
    animation-duration: 0.6s;
    animation-delay: 0.4s;
    animation-fill-mode: forwards;
    animation-timing-function: ease-in-out;
}

.login-headers h1 {
    font-size: 42px;
}

.container-login .container-half-right {
    align-items: center;
}

.container-login .container-half-left {
    color: white;
}

.login-form {
    display: flex;
    flex-direction: column;
    width: 350px;
    padding: 20px;
    background-color: white;
}

.login-form>* {
    margin-top: 10px;
}

.login-form .message {
    font-size: 16px;
    padding: 10px;
    margin: 0;
}

.login-form-header {
    color: #17252A;
    padding-bottom: 5px;
    margin-bottom: 10px;
    border-bottom: 1px solid rgba(0,0,0,0.5);
}

.login-form input {
    font-size: 16px;
}

.login-form .form-error-msg{
    margin-top: 5px;
    margin-left: 5px;
}

.login-form-forgot {
    margin-left: 10px;
}

/*NAVBAR STYLES*/
.container-nav {
    height: 100vh;
    max-width: 220px;
    background-color: #263740;
}

.nav-options {
    list-style-type: none;
    background-color: white;
}

.nav-option {
    background-color: #263740;
    width: 100%;
    padding: 10px 20px;
    color: white;
    cursor: pointer;
}

.nav-option:hover {
    background-color: #308DBF;
}

.nav-option.active {
    background-color: #308DBF;
    clip-path: polygon(0% 0%, 100% 0%, 100% 25%, 95% 50%, 100% 75%, 100% 100%, 0% 100%);
}

/*HOME STYLES*/
.container-home {
    width: 80vw;
    margin-left: 10vw;
}

.container-partial {
    margin: 95px 0px 0px 250px;
    padding: 30px;
    color: #333333;
}

.product-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    opacity: 0;
    animation-name: fade-in;
    animation-duration: 0.6s;
    animation-fill-mode: forwards;
    animation-timing-function: ease-in;
}

@keyframes fade-in {
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}

.product-query {
    padding-bottom: 30px;
    margin-bottom: 30px;
    border-bottom: 1px solid rgba(0,0,0,0.05);
}

.product-query-query {
    margin-top: 10px;
}

.product-query-title {
    margin-right: 15px;
    color: #2B7A78;
}

.product-query-item {
    margin-right: 5px;
    padding: 1px 10px;
    border-radius: 10px;
    background-color: #DEF2F1;
    color: #3AAFA9;
}

.product-query-item .svg-inline--fa:last-child {
    margin-right: 0px;
}

.product {
    display: flex;
    flex-direction: column;
    min-width: 190px;
    max-width: 190px;
    margin-bottom: 10px;
    margin-right: 10px;
    transition: all 0.1s ease-in-out;
    cursor: pointer;
}

.product:hover {
    box-shadow: 0px 2px 4px 2px rgba(0,0,0,0.4);
}

.product:hover .product-view{
    opacity: 1;
}

.product * {
    margin-top: 5px;
    margin-left: 10px;
    width: 170px;
}

.product-image {
    width: 100%;
    height: 280px;
    margin: 0;
    object-position: center;
    object-fit: cover;
}

.product-rating {
    height: 15px;
    background-size: contain;
    background-image: url(../img/rating-small.png);
    background-repeat: no-repeat;
}

.product-brand {
    font-size: 12px;
}

.product-view {
    margin: 10px;
    opacity: 0;
    transition: all 0.1s ease-in-out;
}

/*HOME PAGINATION STYLES*/
.pagination {
    display: flex;
    justify-content: flex-end;
    list-style-type: none;
    margin-bottom: 20px;
}

.pagination a {
    padding: 5px 10px;
    text-align: center;
    line-height: 30px;
    margin-right: 15px;
    border-radius: 2px;
    border: 1px solid #3AAFA9;
}

.pagination a:hover {
    color: white;
    background-color: #3AAFA9;
}

.pagination li.active a{
    background-color: #3AAFA9;
}

.pagination li.active a{
    color: white;
}

/*HEADER STYLES*/

.header-items {
    display: flex;
    position: absolute;
    top: 0;
    width: 100vw;
    max-width: 100%;
    padding: 10px 30px;
    list-style-type: none;
    background-color: #17252A;
}

.header-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 10px;
    color: white;
}

.header-logo img{
    max-height: 50px;
}

.header-logout {
    margin-left: auto;
}

/*SIDEBAR STYLES*/

.sidebar {
    position: absolute;
    top: 120px;
    left: 0;
    width: 250px;
}

.sidebar-items {
    list-style-type: none;
    margin-left: 50px;
}

.sidebar-item {
    padding-bottom: 20px;
    margin-bottom: 20px;
    border-bottom: 1px solid #DEF2F1;
}

.sidebar-item-header {
    margin-bottom: 10px;
    font-size: 18px;
    color: #3AAFA9;
}

.sidebar-item-options {
    list-style-type: none;
    margin-left: 14px;
    font-size: 14px;
    color: #2B7A78;
}

.sidebar-item-option {
    margin-bottom: 10px;
}

.sidebar-item select {
    width: 100%;
}


/*PRODUCT VIEW STYLES*/

.container-product-view-main {
    margin-top: 90px;
    min-height: 85vh;
    padding: 60px 80px;
    background-color: #F4F3F3;
}

.container-product-view-sub, .container-comments {
    display: flex;
    flex-direction: column;
    padding: 20px 30px;
    margin-bottom: 20px;
    background-color: white;
}

.container-product-header {
    color: #333333;
    border-bottom: 1px solid rgba(0,0,0,0.075);
    padding-bottom: 30px;
    margin-bottom: 30px;
}

.view-product-details {
    display: flex;
}

.view-product-details *{
    display: flex;
    margin-right: 15px;
}

.view-product-image {
    height: 320px;
    padding-right: 30px;
    border-right: 1px solid rgba(0,0,0,0.075);
    object-fit: contain;
}

.view-product-info {
    display: flex;
    flex-direction: column;
}

.view-product-info strong {
    color: #333333;
}

.view-product-info-header {
    font-size: 18px;
    margin-bottom: 15px;
}

.view-product-rating-container {
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: 0;
    padding-left: 30px;
    border-left: 1px solid rgba(0,0,0,0.075);
}

.view-product-rating-container>* {
    margin-bottom: 20px;
}

.view-product-rating-image{
    height: 38px;
    background:
        linear-gradient(90deg, #EDEB15 0%, #EDEB15 0%,rgba(0,0,0,0) 0%),
        url('../img/rating-small.png');
    background-blend-mode: overlay;
    background-size: contain;
    background-repeat: no-repeat;
}

.container-product-view-main .view-back-button{
    margin-top: auto;
    margin-bottom: 0;
    align-self: flex-end;
}

.container-product-view-main .view-back-button .svg-inline--fa{
    margin-top: 3px;
}

.container-comments{
    width: 60vw;
}

.comment {
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid rgba(0,0,0,0.075);
    padding-bottom: 20px;
    margin-bottom: 10px;
}

.comment-upper {
    display: flex;
    justify-content: space-between;
    color: #666666;
    font-size: 12px;
}

.comment-date {
    color: #2B7A78;
}

.comment-lower {
    display: flex;
}

.comment-content {
    color: #17252A;
}

.comment-options-container {
    margin-left: auto;
    margin-right: 0;
    text-align: right;
}

.comment-options-container .svg-inline--fa {
    margin-right: 0;
    font-size: 14px;
    color: #AAAAAA;
    cursor: pointer;
}

.comment-options-container .svg-inline--fa.fa-edit:hover {
    color: #3AAFA9;
}

.comment-options-container .svg-inline--fa.fa-trash-alt:hover {
    color: #AF3A3A;
}

.comment-add form {
    display: flex;
    flex-direction: column;
    margin-right: 0;
}

.comment-add-content {
    margin-bottom: 10px;
    padding: 10px;
    resize: none;
}

.comment-add-submit {
    align-self: flex-end;
}

/*SYSTEM USER GENERAL STYLES*/

.container-system-users {
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
}

.container-system-users .pagination{
    margin-top: 20px;
}

.back-to-list-button {
    background-color: #17252A;
}

.back-to-list-button:hover {
    background-color: #263A41;
}

.container-form {
    margin-top: 40px;
    justify-content: flex-start;
}

/*SYSTEM USER LOGIN STYLES*/

.container-system-users-login {
    background-color: #3AAFA9;
}

.container-system-users-login .login-form {
    background-color: inherit;
}

.container-system-users-login .login-form-header {
    color: white;
    border-bottom: 1px solid rgba(255,255,255,0.4);
}

/*SYSTEM USER SIDEBAR STYLES*/
.sidebar-system-user {
    background-color: #3AAFA9;
    top: auto;
    height: 100%;
}

.sidebar-system-user .sidebar-items {
    margin-left: 0;
    color: white;
    background-color: white;
}

.sidebar-system-user .sidebar-item {
    padding: 15px 30px;
    border: none;
    margin: 0;
    font-weight: bold;
    color: pointer;
    background-color: #3AAFA9;
}

.sidebar-system-user .sidebar-item:hover {
    background-color: #2B7A78;
    cursor: pointer;
}

.sidebar-system-user .sidebar-item.active {
    background-color: #2B7A78;
    clip-path: polygon(0% 0%, 100% 0%, 100% 25%, 95% 50%, 100% 75%, 100% 100%, 0% 100%);
}

.sidebar-item-icon {
    position: absolute;
    margin-top: 2px;
}

.sidebar-item-name {
    margin-left: 30px;
}

/*SUPRODUCTS INDEX STYLES*/

.container-system-users {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.container-system-users .container-query {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 50px;
}

.list-add-button {
    font-size: 24px;
}

.table {
    border-collapse: collapse;
}
.table-cell {
    padding: 5px 15px;
    border: 1px solid rgba(0,0,0,0.25);
}

/*SYSTEM USER ADD/EDIT PRODUCT STYLES*/

.form-image-container {
    display: flex;
    flex-direction: column;
}

.form-image {
    height: auto;
    width: 100%;
}

.file-button {
    padding: 10px;
    border: none;
    color: white;
    font-weight: bold;
    text-align: center;
    background-color: #3AAFA9;
    cursor: pointer;
}

.file-button:hover {
    background-color: #378F8A;
}